shellclass/*
localusers/.vagrant/machines/*
localusers/.vagrant/*
localusers/.vagrant/machines/default/virtualbox/*
localusers/archives/*
data-processing/attackers.csv
data-processing/Vagrantfile
data-processing/.vagrant/*
